# Logs
logs
*.log
npm-debug.log*
dev.sqlite3-journal

# Dependency directories
node_modules

# Webpack bundles
bundle.js
bundle.js.map
styles.css
styles.css.map

# Database files
dev.sqlite3

# Secrets
.env
api.json
authResponse.js
