@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Lato:wght@300;400;700&display=swap');

@import './typography.scss';

@import './layouts/general.scss';
@import './layouts/forms.scss';
@import './layouts/cards.scss';
@import './layouts/navbar.scss';
@import './layouts/bubbles.scss';


// Assmt List
// ------------
.assmt-row {

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
}

.assmt {
  border-bottom: 1px solid $border-color;
  padding: 1rem;
  transition: all ease .3s;

  &:hover {
    background-color: $border-color;
  }

  @include tablet {
    width: 49%;
    margin: .5%;
    border: 1px solid $border-color;
    padding: 2rem;
    border-radius: .4rem;
  }

  @include desktop {
    width: 24%;
  }
}
